<div class="Icons__menu flex justify-end my-4">
  <div class="flex w-full">
    <form [formGroup]="form" novalidate class="flex w-full">
      <div class="relative flex flex-row w-full">
        <input
          role="search"
          type="text"
          class="outline-none border border-red-600 text-xs text-gray-800 w-full pl-2 pr-6
          dark:bg-gray-800 dark:text-white dark:placeholder-gray-500"
          placeholder="arrow"
          formControlName="search"
          data-testid="search"
        />
        <x-outline-icon
          class="absolute right-0 top-0 h-full flex items-center pr-1 cursor-pointer hover:opacity-50"
          [size]="16"
          *ngIf="form.get('search')?.value"
          (click)="form.get('search')?.setValue('')"
          name="clear-query"
        ></x-outline-icon>
      </div>
      <div class="w-8 h-8 flex items-center justify-center bg-red-600">
        <search-outline-icon class="text-white"></search-outline-icon>
      </div>
    </form>
  </div>
  <div class="flex ml-2">
    <button
      (click)="decrementSize()"
      name="zoom-out"
      [ngClass]="[
        'flex items-center justify-center',
        'w-8 h-8 bg-red-600 text-white hover:bg-red-500 focus:outline-none'
      ]"
    >
      <zoom-out-outline-icon></zoom-out-outline-icon>
    </button>
    <div
      class="w-16 h-8 flex items-center justify-center bg-red-600 text-white"
    >
      {{ size }}
    </div>
    <button
      (click)="incrementSize()"
      name="zoom-in"
      [ngClass]="[
        'flex items-center justify-center',
        'w-8 h-8 bg-red-600 text-white hover:bg-red-500 focus:outline-none'
      ]"
    >
      <zoom-in-outline-icon></zoom-in-outline-icon>
    </button>
  </div>
  <div class="flex ml-2">
    <button
      *ngIf="type === 'outline'"
      name="outline-solid-toggle"
      data-testid="outline-solid-toggle"
      (click)="switchToSolid()"
      [ngClass]="[
        'flex items-center justify-center',
        'w-8 h-8 bg-red-600 text-white hover:bg-red-500 focus:outline-none'
      ]"
    >
      <heart-outline-icon></heart-outline-icon>
    </button>
    <button
      *ngIf="type === 'solid'"
      name="outline-solid-toggle"
      data-testid="outline-solid-toggle"
      (click)="switchToOutline()"
      [ngClass]="[
        'flex items-center justify-center',
        'w-8 h-8 bg-red-600 text-white hover:bg-red-500 focus:outline-none'
      ]"
    >
      <heart-solid-icon></heart-solid-icon>
    </button>
  </div>
</div>

<div class="relative h-full">
  <div
    [ngClass]="[
      'absolute top-0 bottom-0 left-0 right-0 z-10',
      'w-full h-full',
      'flex items-center justify-center flex-col',
      'bg-white text-gray-700 text-xl dark:text-white dark:bg-gray-900'
    ]"
    *ngIf="empty"
  >
    <img src="../assets/empty.svg" alt="" srcset="" class="w-64 h-64" />
    <div>there are no icons matching the search</div>
  </div>

  <div
    class="absolute top-0 bottom-0 left-0 right-0 w-full h-full bg-white
    flex items-center justify-center text-gray-700 text-xl z-10
    dark:text-white dark:bg-gray-900"
    *ngIf="loading"
  >
    loading...
  </div>

  <div class="flex items-center justify-center pb-4">
    <button
      *ngFor="let c of colors"
      [ngClass]="[getColor(c), (classColor.includes(c) ? 'font-bold' : '')]"
      class="w-12 h-12 rounded-full text-xs ring-gray-100 ring-2 mx-2"
      (click)="onClickColor(c)"
    >{{ c }}</button>
  </div>

  <div data-testid="list-of-icons" [ngClass]="{ hidden: empty || loading }">
    <outline-icons
      *ngIf="type === 'outline'"
      [size]="size"
      [stroke]="stroke"
      [class]="classColor"
    ></outline-icons>
    <solid-icons
      *ngIf="type === 'solid'"
      [size]="size"
      [class]="classColor"
    ></solid-icons>
  </div>
</div>

<tooltip
  *ngIf="tooltipContent"
  [copied]="componentTagCopied"
  ><div>{{ tooltipContent }}</div></tooltip
>
