<!-- <div class="Icons"> -->
<div class="Icons__menu flex justify-end my-4">
  <div class="flex">
    <form [formGroup]="form" novalidate class="flex">
      <div class="relative flex flex-row">
        <input type="text" class="outline-none border border-red-600 px-2 text-xs text-gray-800 w-64" placeholder="arrow" formControlName="search">
        <x-outline-icon class="absolute right-0 top-0 h-full flex items-center pr-1 cursor-pointer hover:opacity-50" size="16" *ngIf="form.get('search').value" (click)="form.get('search').setValue('')"></x-outline-icon>
      </div>
      <div class="w-8 h-8 flex items-center justify-center bg-red-600">
        <search-outline-icon class="text-white"></search-outline-icon>
      </div>
    </form>
  </div>
  <div class="flex ml-2">
    <button (click)="decrementSize()" class="w-8 h-8 flex items-center justify-center bg-red-600 text-white hover:bg-red-500 focus:outline-none">
      <zoom-out-outline-icon></zoom-out-outline-icon>
    </button>
    <div class="w-16 h-8 flex items-center justify-center bg-red-600 text-white">{{ size }}</div>
    <button (click)="incrementSize()" class="w-8 h-8 flex items-center justify-center bg-red-600 text-white hover:bg-red-500 focus:outline-none">
      <zoom-in-outline-icon></zoom-in-outline-icon>
    </button>
  </div>
  <div class="flex ml-2">
    <button *ngIf="type === 'outline'" (click)="switchToSolid()" class="w-8 h-8 flex items-center justify-center bg-red-600 text-white hover:bg-red-500 focus:outline-none">
      <heart-outline-icon></heart-outline-icon>
    </button>
    <button *ngIf="type === 'solid'" (click)="switchToOutline()" class="w-8 h-8 flex items-center justify-center bg-red-600 text-white hover:bg-red-500 focus:outline-none">
      <heart-solid-icon></heart-solid-icon>
    </button>
  </div>
</div>


<div class="relative h-full">
  <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full bg-white flex items-center justify-center text-gray-700 text-xl flex-col" *ngIf="empty">
    <img src="../assets/empty.svg" alt="" srcset="" class="w-64 h-64">
    <div>there are no icons matching the search</div>
  </div>

  <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full bg-white flex items-center justify-center text-gray-700 text-xl" *ngIf="loading">loading...</div>

  <outline-icons *ngIf="type === 'outline'" [size]="size" [color]="color" [stroke]="stroke" [class]="class"></outline-icons>
  <solid-icons *ngIf="type === 'solid'" [size]="size" [color]="color" [class]="class"></solid-icons>
</div>

<tooltip *ngIf="tooltipContent" [copied]="componentTagCopied"><div>{{ tooltipContent }}</div></tooltip>
<!-- </div> -->