<div class="container my-0 mx-auto pb-16">
  <div class="flex flex-col items-center">
    <div><img src="../assets/angular.png" alt="" srcset="" class="w-64 h-64"></div>
    <h1 class="text-6xl">ng-heroicons</h1>
  </div>

  <icons></icons>

  <div class="fixed bottom-0 right-0 w-full text-xs p-4 text-right bg-white">
    developed with ♥ by <a href="https://twitter.com/dimaslz" class="hover:text-gray-600">dimaslz</a> (fork in <a href="https://github.com/dimaslz/ng-heroicons" class="hover:text-gray-600">Github</a>)
  </div>
</div>