<main>
	<div
		class="ForkMeOnGithub fixed top-0 right-0 z-10 mt-10 -mr-12 rotate-45 transform bg-gray-900"
	>
		<a
			href="https://github.com/dimaslz/ng-heroicons"
			target="_blank"
			class="my-1 flex border border-dashed border-white px-10 py-1 text-gray-300 hover:text-gray-100"
			>Fork me on GitHub</a
		>
	</div>

	<div class="container my-0 mx-auto flex h-full flex-col px-4">
		<div class="flex items-center">
			<app-darkmode-toggle
				(update)="onModeChange($event)"
			></app-darkmode-toggle>
			<div class="text-white space-x-4 text-sm">
				<a
					routerLink="/"
					class="dark:text-gray-400 dark:hover:text-gray-50 text-gray-400 hover:text-gray-950"
					>home</a
				>
				<a
					routerLink="/docs"
					class="dark:text-gray-400 dark:hover:text-gray-50 text-gray-400 hover:text-gray-950"
				>
					documentation
				</a>
			</div>
		</div>

		<router-outlet></router-outlet>

		<div
			class="fixed bottom-0 right-0 w-full bg-white p-4 text-right text-xs dark:bg-gray-900 dark:text-white"
		>
			developed with ♥ by
			<a href="https://twitter.com/dimaslz" class="hover:text-gray-600"
				>dimaslz</a
			>
			(fork in
			<a
				href="https://github.com/dimaslz/ng-heroicons"
				class="hover:text-gray-600"
				>Github</a
			>)
		</div>
	</div>
</main>
